.cards {
  border: 2px solid black;
  width: 310px;
  justify-items: center;
  margin-top: 20px;
}
.cards img {
  height: 150px;
  width: 140px;
  margin: 20px;
}
.pImg {
  height: 100px;
}
.main {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}
.loding {
  font-size: 100px;
  text-align: center;
}
